container_commands:
  01_db_generate:
    command: npm run db:generate
    leader_only: true
  02_db_push:
    command: npm run db:push
    leader_only: true
  03_db_seed:
    command: npm run db:seed
    leader_only: true
  04_fix_permissions:
    command: chown -R webapp:webapp /var/app/staging/node_modules /var/app/staging/packages
    leader_only: true